<h1 class="display 5">Hobby Database App...</h1>
<h2 class="display 2">View hobbies</h2>
<div class="jumbotron">
    <h1>Hobby Database</h1>
    <p>This is a simple hobby database web application to show the available hobbies of users in the database.</p>
    <p><a class="btn btn-primary" href="/hobbydb/search" role="button">About app</a></p>
  </div>
  <center>
<a href="/hobbydb/records " class="btn btn-light">View records</a>
<a href="/hobbydb/add " class="btn btn-light">Add new hobby</a>
</center>

